.card_infos {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2px;
    padding:16px;
    width: 350px;
    height: 160px;
    display: inline-block;
    background: #ffffff;
}

.card_infos_middle {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2px;
    padding:16px;
    margin-left: 10px;
    margin-right: 10px;
    height: 160px;
    background: #ffffff;
}

.card_infos:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}