
.noUi-target {
	height: 15px;
	border: none;
	margin: 10px 0 10px 0; 
}
@media screen and (max-width: 767px) {
	.noUi-target {
		margin: 40px 0 50px 0; 
	} 
}
.noUi-target .noUi-base {
	background: linear-gradient(117deg,#0d064c 0,#F8694A 100%);
	border: none;
	border-radius: 15px; 
	cursor: pointer;
}
.noUi-target .noUi-base .noUi-connect {
	background: #013a67;
}
.noUi-target .noUi-base .noUi-tooltip {
	bottom: -35px;
	color: #013a67;
	border: none;
	outline: none;
	font-weight: bold; 
}
.noUi-handle.noUi-handle-lower {
	background: #0d064c;
	border-radius: 20px;
	width: 30px;
	height: 30px;
	outline: none;
	right: 0px;
	top: -8px;
	cursor: pointer; 
	box-shadow: none;
	border: 3px solid #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.noUi-handle.noUi-handle-lower.noUi-active{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.noUi-handle.noUi-handle-lower::before, .noUi-handle.noUi-handle-lower::after {
	display: none; 
}
.noUi-handle.noUi-handle-lower .noUi-touch-area {
	width: 30px;
	height: 30px; 
}