$body: #3f44a5;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal 15px/1.5 'Open Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: #4C4C4C;
  background: $body;
}

.clear {
  clear: both;
}

h1 {
  text-align: center;
  font-size: 22px;
  color: white;
}

.select-wrapper {
  position: relative;
  width: 350px;
  // Dropdown icon
  &::after {
    color: black;
    content: '▾';
    margin-right: 10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 20px;
  }
}

// Default state
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  font-size: 18px;
  &:focus {
    color: black;
  }
  // Hack for IE 11+
  &::-ms-expand {
    display: none;
  }
}