.nav-pill-main-div {
  position: relative;
  border-radius: 20px;
  box-shadow: -1px -7px 28px 3px rgba(1, 1, 1, 0.11);
  height: 100%;
}
ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
 ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s ease all;
   width: 33%;
}
ul.tabs li.current{
  color: #222;
  transition: 0.3s ease all;
}
ul.tabs li.current span{
  color: #ffffff;
  transition: 0.3s ease all;
  background: #F8694A;
}
.tab-content{
  display: none;
  padding: 15px;
  transition: 0.3s ease all;
}
.tab-content.current{
  display: inherit;
  transition: 0.3s ease all;
}


/*------ease effect------*/
.nav-justified > li { 
  float: none; 
}
.nav-justified > li span { 
  width: 100%; 
}
.customize_solution .nav-justified > li {
    float: none;
}
.customize_solution span.ease-effect { 
  text-decoration: none; 
  -webkit-transition: 0.3s all ease; 
  transition: 0.3s ease all; 
}
.customize_solution span.ease-effect:hover, .customize_solution span.ease-effect:focus,.customize_solution ul.tabs li.current span:hover,.customize_solution ul.tabs li.current span:focus { 
  color: #F8694A; 
  background: #000070;
  transition: 0.3s ease all; 
}
.customize_solution span.ease-effect { 
  letter-spacing: 2px; 
  text-transform: uppercase; 
  display: inline-block; 
  text-align: center; 
  font-weight: bold; 
  padding: 14px 0px; 
  border-top-right-radius: 2px; 
  border-top-left-radius: 2px; 
  position: relative; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); 
}
.customize_solution .ease-effect:before { 
  -webkit-transition: 0.5s all ease; 
  transition: 0.5s all ease; 
  position: absolute; 
  top: 0; left: 50%; 
  right: 50%; 
  bottom: 0; 
  opacity: 0; 
  content: ''; 
  background-color: #1AA8E2; 
  z-index: -2; 
}
.customize_solution .ease-effect:hover:before, .customize_solution .ease-effect:focus:before { 
  -webkit-transition: 0.5s all ease; 
  transition: 0.5s all ease; 
  left: 0; 
  right: 0; 
  opacity: 1; 
}

.finbyz-icon {
  height: 100px;
  width: 100px;
}